<h1>Training Program Detail</h1>
<h2><%= showTrainingProgram.trainingProgramTitle %></h2>
<p><%= showTrainingProgram.description %></p>
<p><%= showTrainingProgram.trainingProgramType %></p>
<p><%= showTrainingProgram.level %></p>
<p><%= showTrainingProgram.genderAge %></p>